<h1>Add A New Word</h1>

<%= form_for @entry do |f| %>
  <div class="row">
    <div class="col-md-4">
      <%= f.text_field :word, class: "form-control" %>
    </div>
    <div class="col-md-2">
      <%= f.submit "Add Word", class: "btn btn-success" %>
    </div>
  </div>
<% end %>